.finance-table {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  /* max-width: 580px !important; */
  margin-left: 40px !important;
  margin-top: 50px !important;
}

.finance-table th {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  /* padding: 3px !important; */
}

.finance-table td {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  padding: 5px !important;
}

.finance-button{
  margin-top: 20px !important;
  margin-left: 40px !important;
}

.finance-link-1 {
  background-color: #24619a;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  width: 128px;
  height: 40px;
  border: none;
  padding-top: 8px !important;
  margin-right: 20px !important;
  display: inline-block;
}

.finance-link-1:hover {
  color: white;
  cursor: pointer;
}

.finance-link-2 {
  background-color: #24619a;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  width: 80px;
  height: 40px;
  border: none;
  padding-top: 8px !important;
  margin-right: 20px !important;
  display: inline-block;
}

.finance-link-2:hover {
  color: white;
  cursor: pointer;
}

/* ****************************************** */
.finance-search{
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 200px !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  float: right;
}

.finance-search h3 {
  display: flex;
  justify-content: center;
  margin-top: 40px !important;
}

.finance-personal{
  margin-left: 20px !important;
  margin-right: 20px !important;
  background-size: 20px;
  border: none;
  border-bottom: 1px solid #b4b4b4;  
}

.finance-personal:focus{
  outline: none;
}

.finance-select{
  border: none;
  border-bottom: 1px solid #b4b4b4;  
  margin-left: 20px !important;
  margin-right: 20px !important;
  background-size: 20px;
  margin-top: 15px !important;
}

.finance-select:focus{
  outline: none;
}

.finance-delete{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px !important;
  margin-top: 20px !important;
}

.search-button{
  width: 70px !important;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #24619a;
  color: #ffffff;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-right: 10px !important;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.select-time{
  margin-left: 20px !important;
  margin-right: 20px !important;
  background-size: 20px;
  border: none;
  border-bottom: 1px solid #b4b4b4;  
  border-radius: 0;
  margin-top: 15px !important;
}

.select-time:focus{
  outline: none;
}

select {
  color: #9e9e9e;
}
option:not(:first-of-type) {
  color: black;
}