.checkout-button {
  margin-top: 30px !important;
  margin-left: 50px !important;
}

.checkout-link-1 {
  background-color: #24619a;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  width: 135px;
  height: 40px;
  border: none;
  padding-top: 8px !important;
  margin-right: 20px !important;
  display: inline-block;
}

.checkout-link-1:hover {
  color: white;
  cursor: pointer;
}

.checkout-link-2 {
  background-color: #24619a;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  width: 155px;
  height: 40px;
  border: none;
  padding-top: 8px !important;
  margin-right: 20px !important;
  display: inline-block;
}

.checkout-link-2:hover {
  color: white;
  cursor: pointer;
}

.checkout-table{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    /* max-width: 580px !important; */
    margin-left: 40px !important;
    margin-top: 50px !important;
}


.checkout-table th{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    padding: 3px !important;
}

.checkout-table td {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    padding: 5px !important;
  }
