.detail-form {
  background-color: #ffffff;
}

.detail-first {
  padding-left: 20px !important;
}

.detail-first label {
  font-weight: bold;
  font-size: 12px;
}

.detail-left-header {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 35px !important;
  margin-top: 50px !important;
  width: 330px;
}

.detail-left-header::placeholder {
  font-weight: bold;
  color: #aac1d3;
}

.detail-left-header:focus {
  outline: none;
}

.detail-proqram-parametr {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px !important;
}

.detail-telefon {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 180px;
}

.detail-telefon:focus {
  outline: none;
}

.detail-uni-select {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 180px;
}

.detail-button {
  margin-top: 10px !important;
  text-decoration: none;
  background-color: #24619a;
  color: #f2fbfe;
  border: none;
  border-radius: 5px;
  height: 20px;
  font-size: 15px;
  width: 110px;
  text-align: center;
  padding-bottom: 13px !important;
  padding-top: -10px !important;
}

.detail-button-label {
  display: flex;
  align-items: center;
}

.detail-second-part {
  margin-top: 30px !important;
}

/* **second-col: **  */

.detail-check-hol {
  margin-bottom: 35px !important;
  margin-top: 30px !important;
  margin-left: 0 !important;
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.detail-holding label {
  margin-left: 5px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
}

.detail-company-check {
  /* margin-left: 50px !important; */
}

.detail-second-col {
  /* margin-top: 60px !important; */
}

.detail-second-col label {
  font-weight: bold;
  font-size: 12px;
  /* padding-left: 50px !important; */
}

.detail-second-col input:focus {
  outline: none;
}

.detail-second-col select:focus {
  outline: none;
}

.detail-user-name {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 180px;
}

.detail-user-password {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 180px;
}

.detail-uni-select-2 {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 100px;
}

.detail-user-name-2 {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 100px;
}

.detail-middle-bottom-col {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px !important;
  flex-direction: column;
}

.detail-middle-bottom-col textarea {
  height: 180px;
  width: 480px;
  resize: none;
}

.detail-middle-bottom-col-2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  flex-direction: column;
}

.detail-middle-bottom-col-2 textarea {
  height: 100px;
  width: 350px;
  resize: none;
}

/* thir-col */

.detail-profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.detail-img {
  margin-top: 25px !important;
  object-fit: cover;
  width: 155px;
  height: 150px;
  max-width: 100%;
  height: auto;
}

.detail-i-img {
  margin-top: -30px !important;
}

.detail-p-image {
  position: absolute;
  /* top: 167px; */
  /* right: 30px; */
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.detail-p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.detail-i-pencil {
  margin-left: 130px !important;
  font-size: 22px;
  color: #c0c0c0;
}

.detail-upload-button {
  font-size: 1.2em;
}

.detail-upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

.detail-file-upload {
  display: none;
}

/* *********************** */

.detail-kitabxana-button {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  display: flex;
  justify-content: end;
}

.detail-kitabxana-button-1 {
  background-color: #98b0c7;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  padding: center !important;
  width: 105px;
  height: 40px;
  border: none;
  padding-bottom: 2px !important;
  margin-right: 20px !important;
}

.detail-kitabxana-button-1:hover {
  color: white;
  cursor: pointer;
}

.detail-kitabxana-button-2 {
  background-color: #21d25c;
  color: white;
  border-radius: 40px;
  padding: center !important;
  width: 105px;
  height: 40px;
  border: none;
  padding-bottom: 2px !important;
  margin-right: 20px !important;
}

.detail-kitabxana-button-3 {
  background-color: #24619a;
  color: white;
  border-radius: 40px;
  padding: center !important;
  width: 105px;
  height: 40px;
  border: none;
  padding-bottom: 2px !important;
  margin-right: 20px !important;
}

.detail-kitabxana-button-4 {
  background-color: #24619a;
  color: white;
  border-radius: 40px;
  padding: center !important;
  width: 152px;
  height: 40px;
  border: none;
  padding-bottom: 2px !important;
  margin-right: 20px !important;
}

.detail-kitabxana-button-5 {
  background-color: #24619a;
  color: white;
  border-radius: 40px;
  padding: center !important;
  width: 105px;
  height: 40px;
  border: none;
  padding-bottom: 2px !important;
  margin-right: 20px !important;
}

.detail-confirm {
  margin-top: 5px !important;
  margin-right: 20px !important;
}

.detail-confirm input {
  margin-right: 10px !important;
}

.detail-confirm label {
  color: #4f76e4;
}

.detail-card-icon {
  display: flex;
  /* justify-content: end; */
  padding-right: 25px !important;
  /* margin-right: 50px !important; */
}

.detail-i-trash-button{
    border: none;
}

.detail-i-pencil{
    color: #073763;
    font-size: 13px;
    margin-left: 110px !important;
}

.detail-i-trash{
    color: #073763;
}
