.human-table {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  /* max-width: 580px !important; */
  margin-left: 40px !important;
  margin-top: 50px !important;
}

.human-table th {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  padding: 5px !important;
}

.human-table td {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  padding: 5px !important;
}

.human-cell {
  width: 110px !important;
  height: 30px !important;
}

.human-cell-2 {
  width: 90px !important;
}

.human-cell-3 {
  width: 80px !important;
}

.human-cell-4 {
  width: 100px !important;
}

.human-cell-6 {
  width: 60px !important;
}

.human-cell-7 {
  width: 80px !important;
}

.human-cell-8 {
  width: 70px !important;
}

.human-cell-9 {
  width: 80px !important;
}

.human-cell-5a {
  text-align: center;
}


/* ***************************************** */

.humantable-button {
    margin-left: 40px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.humantable-button-1 {
  background-color: #24619a;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  /* padding: center !important; */
  width: 128px;
  height: 40px;
  border: none;
  padding-top: 8px !important;
  margin-right: 20px !important;
  color: white;
  display: inline-block;
}

.humantable-button-1:hover {
  color: white;
  cursor: pointer;
}
.humantable-button-2 {
  background-color: #98B0C7;
  color: white;
  border-radius: 40px;
  padding: center !important;
  width: 122px;
  height: 40px;
  border: none;
  padding-bottom: 2px !important;
  margin-right: 20px !important;
}

.humantable-link-2{
    color: white;
}

.humantable-link-2:hover{
    color: white;
    cursor: pointer;
}

.search-button{
  width: 70px !important;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #24619a;
  color: #ffffff;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-right: 10px !important;
}

.search-personal-2{
  margin-left: 20px !important;
  margin-right: 20px !important;
  background-size: 20px;
  border: none;
  border-bottom: 1px solid #b4b4b4;  
  border-radius: 0;
  margin-top: 15px !important;
  padding-left: 3px;
  padding-bottom: 0;
  color: gray;
}


.search-personal-2:hover{
  border-color: #b4b4b4 !important;
}

.search-personal-2:focus{
  outline: none;
  border: none !important;
}
