.empty-area {
    background-color: #073763;
    height: 30px !important;
  }

  .page-link-parent{
    display: flex;
    margin-left: 50px !important;
    padding-top: 5px !important;
  }

  .page-link{
    color: white;
    padding-left: 15px !important;

  }