.alliance-div{
    width: 400px !important;
    height: 230px !important;
    background-color: #073763;
    border-radius: 10px !important;
    display: flex;
    flex-direction: column;
}

.alliance-name{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px !important;
}

.alliance-holding{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px !important;
}

.alliance-props-div{
    background-color: #24619A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px !important;
    margin-top: 20px !important;
}

.alliance-props-div p{
    color: white;
    font-size: 18px !important;
}